
<app-toolbar></app-toolbar>
<app-sidebar></app-sidebar>
<app-page-wrapper>
<app-home></app-home>
<div class="padre">
  <div class="hijo">
<div class="card" style="width: 18rem;">
  <img src="../assets/img/flatten.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Jujuy</h5>
    <p class="card-text">Con sus montañas, valles y quebradas, atractiva e histórica, se destaca por su belleza paisajística y tambien su patrimonio cultural.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Pucará de Tilcara.</li>
    <li class="list-group-item">Quebrada de Humahuaca</li>
    <li class="list-group-item">Cerro de los Siete Colores</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Reservar ahora!</a>
  </div>
</div>
</div>
<div class="hijo">
<div class="card" style="width: 18rem;">
  <img src="../assets/img/destaque-18.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Salta</h5>
    <p class="card-text"> Una tierra de tradición, historia, cultura y paz. Se puede disfrutar de todas las bellezas y bondades que la ciudad tiene para ofrecer.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Tren a las nubes</li>
    <li class="list-group-item">Salinas grandes</li>
    <li class="list-group-item">Variedad de excursiones</li>
  </ul>
  <div class="card-body" >
    <a href="#" class="card-link">Reservar ahora!</a>
  </div>
</div>
</div>
<div class="hijo">
<div class="card" style="width: 18rem;">
  <img src="../assets/img/cordoba2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cordoba</h5>
    <p class="card-text">Su activa vida nocturna junto a una variada gama de alternativas recreativas ofrecen variedad de atracciones turisticas para disfrutar.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Valle de Calamuchita</li>
    <li class="list-group-item">Carlos Paz</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Reservar ahora!</a>
  </div>
</div>
</div>
<div class="hijo">
  <div class="card" style="width: 18rem;">
    <img src="../assets/img/iguazu-falls-misiones-jungle-argentina.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Misiones</h5>
      <p class="card-text">Su gran atractivo son las Cataratas del Iguazú,declaradas una las nuevas maravillas naturales del mundo.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Garganta del Diablo</li>
      <li class="list-group-item">Parque Nacional Iguazu</li>
      <li class="list-group-item">Foz de Iguazú</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Reservar ahora!</a>
    </div>
  </div>
  </div>
</div>
</app-page-wrapper>
