.sidebar{
    margin-top: 60px;
    background-color: rgb(176, 146, 204);
    width: var(--sidebar-width);
    height: calc(100vh - var(--toolbar-height));
    margin-top: 0px;
    position: fixed;
    margin: 0;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    background-color: #642966;
    border-color: black ;
 
}